<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="merchant" value="VPB" />
    <add key="totalTaskSendAlias" value="3" />
    <add key="totalRequestAlias" value="200" />
    
    <add key="totalTaskSend8149" value="3" />
    <add key="totalRequest8x49" value="200" />

      <!--Test API-->
    <add key="ApiUrlBase" value="http://localhost:8000/API8000" />
    <add key="ApiAction" value="/api/weatherforecast/pos" />
  </appSettings>
</configuration>